<launch>
	<node name="collisionAvoidance" pkg="AU_UAV_ROS" type="collisionAvoidance"/>
	<node name="coordinator" pkg="AU_UAV_ROS" type="coordinator"/>
	<node name="KMLCreator" pkg="AU_UAV_ROS" type="KMLCreator" output="screen" />
	<node name="simulator" pkg="AU_UAV_ROS" type="simulator" />
	<node name="XbeeIO" pkg="AU_UAV_ROS" type="XbeeIO" />
	<node name="guiInterfacer" pkg="AU_UAV_ROS" type="guiInterfacer" output="screen" />
	<node name="AU_UAV_GUI" pkg="AU_UAV_GUI" type="AU_UAV_GUI" output="screen" />
</launch>
